<div class="overflow-hidden">
  <div class="card w-full absolute top-0 left-0 overflow-hidden">
    <div class="relative bg-primary">
    <p-toolbar styleClass="bg-primary">
      <div class="p-toolbar-group-start w-2" style="border: white 1px solid">
        <img src="/assets//images/logo-myshop.png" alt="logotipo"  width="150">
        <div class="sidenav">
          <app-sidenav />
        </div>
      </div>
      <div class="p-toolbar-group-center w-6" style="border: white 1px solid">
        <app-search />
      </div>
      <div class="p-toolbar-group-end w-2" style="border: white 1px solid">
        <p-button icon="pi pi-shopping-cart"></p-button>
        <p-button icon="pi pi-user"></p-button>
        <p-button icon="pi pi-bell"></p-button>
        <p-button icon="pi pi-globe"></p-button>
      </div>
    </p-toolbar>
  </div>
</div>
