
<div class="card flex flex-wrap align-items-center justify-content-center max-h-2rem bg-primary">
    <div class="w-full ">
        <p-toolbar styleClass="bg-primary">
            <div class="p-toolbar-group-start">
                <p>My Phone</p>
                <p-button icon="pi pi-bars"></p-button>
            </div>
            <div class="p-toolbar-group-center">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input class="w-30rem" type="text" pInputText [(ngModel)]="valueInput" />
                </span>
            </div>
            <div class="p-toolbar-group-end">
                <p-button icon="pi pi-shopping-cart"></p-button>
                <p-button icon="pi pi-user"></p-button>
                <p-button icon="pi pi-bell"></p-button>
                <p-button icon="pi pi-globe"></p-button>
            </div>
        </p-toolbar>
    </div>   
</div>