
<div class="card">
  <p-dataView #dv [value]="products" layout="grid">
      <ng-template let-product pTemplate="gridItem">
          <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2">
              <div class="p-4 border-1 surface-border surface-card border-round">
                  <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                      <span class="flex align-items-center gap-2">
                          <i class="pi pi-tag"></i>
                          <span class="font-semibold">{{ product.category }}</span>
                      </span>
                      <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.stock)"></p-tag>
                  </div>
                  <div class="flex flex-column align-items-center gap-3 py-5">
                      <img class="w-9 shadow-2 border-round" [src]="product.thumbnail" [alt]="product.title" style="height: 12rem"/>
                      <div class="text-2xl font-bold">{{ product.name }}</div>
                      <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                  </div>
                  <div class="flex align-items-center justify-content-between">
                      <span class="text-2xl font-semibold">{{ '$' + product.price }}</span>
                      <button
              pButton
              icon="pi pi-shopping-cart"
              class="p-button-rounded"
              [disabled]="product.stock === 'sucess'"
            ></button>
                  </div>
              </div>
          </div>
      </ng-template>
  </p-dataView>
</div>
