  <!-- <div class="grid"> -->
    <div class="card flex justify-content-center">
          <div class="product-detail" *ngIf="product">
      <div class="card flex justify-content-center mt-8">
        <p-card
          header="{{ product.title }}"
          [style]="{ width: '40rem' }">
          <ng-template pTemplate="header">
            <img alt="image product" src="{{ product.thumbnail }}" style="width: 40rem" />
          </ng-template>
          <p>{{ product.description }}</p>
        </p-card>
      </div>
    </div>
  </div>
